<div class="col-lg-9 col-xs-12 col-lg-offset-2 well admin-content">
  <form class="col-lg-10 col-xs-12 col-lg-offset-1 well"
        ng-submit="admin.submitMovie(admin.movieId, admin.editedMovie)">
    <div class="form-group">
      <label for="title">Title</label>

      <p class="pull-right"><a href ng-click="admin.populate()">I'm Lazy</a></p>
      <input ng-required="required" class="form-control" name="title" type="text" ng-model="admin.editedMovie.title"
             placeholder="Title"/>
    </div>
    <div class="form-group">
      <label for="release">Release Date</label>
      <input ng-required="required" class="form-control" name="release" type="date" ng-model="admin.editedMovie.release"
             placeholder="Release Date"/>
    </div>
    <div class="form-group">
      <label for="synopsis">Synopsis</label>
      <textarea ng-required="required" class="form-control" ng-model="admin.editedMovie.synopsis" placeholder="Synopsis"
                name="synopsis" cols="30" rows="10"></textarea>
    </div>
    <div class="form-group">
      <label for="images">Images</label>

      <div class="container-fluid">
        <div ng-repeat="(index, image) in admin.editedMovie.images" class="col-sm-4 col-md-3 unit">
          <div class="thumbnail">
            <a href ng-click="admin.removeImage(index)"><span class="fa fa-trash-o"></span></a>
            <img ng-if="admin.showAssets" height="140" src="{{image.src}}" alt="Movie Image {{index}}"/>
            <input class="form-control" type="text" ng-model="image.src"/>
          </div>
        </div>
      </div>
      <div class="input-group">
        <input class="form-control" name="images" type="text" placeholder="Image URL" ng-model="admin.newImage.src"/>
        <span class="input-group-addon btn btn-primary" ng-click="admin.addImage(admin.newImage)">Add</span>
      </div>
    </div>
    <div class="form-group">
      <label for="trailers">Trailers</label>

      <div class="container-fluid">
        <div ng-repeat="(index, trailer) in admin.editedMovie.trailers" class="col-sm-4 col-md-3">
          <div class="thumbnail">
            <a href ng-click="admin.removeTrailer(index)"><span class="fa fa-trash-o"></span></a>
            <iframe ng-if="admin.showAssets" src="{{trailer.src}}" width="100%" frameborder="0"></iframe>
            <input class="form-control" type="text" ng-model="trailer.src"/>
          </div>
        </div>
      </div>
      <div class="input-group">
        <input class="form-control" name="trailers" type="text" ng-model="admin.newTrailer.src"
               placeholder="Trailer URL"/>
        <span class="input-group-addon btn btn-primary" ng-click="admin.addTrailer(admin.newTrailer)">Add</span>
      </div>
    </div>
    <div class="form-group">
      <label for="cast">Cast Members</label>
      <table class="table">
        <tr>
          <th width="22%">Name</th>
          <th width="22%">Character</th>
          <th width="50%">Description</th>
          <th width="6%"></th>
        </tr>
        <tr ng-repeat="(index, member) in admin.editedMovie.cast">
          <td><input class="form-control" type="text" ng-model="member.name"/></td>
          <td><input class="form-control" type="text" ng-model="member.character"/></td>
          <td><textarea class="form-control" rows="1" ng-model="member.description"></textarea></td>
          <td><a href ng-click="admin.removeMember(index, false)"><span class="fa fa-trash-o"></span></a></td>
        </tr>
      </table>
      <div class="form-inline cast-form text-center">
        <input class="form-control" type="text" name="cast" placeholder="Name" ng-model="admin.castMember.name"/>
        <input class="form-control" type="text" name="cast" placeholder="Character"
               ng-model="admin.castMember.character"/>
        <textarea class="form-control" name="cast" rows="1" placeholder="Description"
                  ng-model="admin.castMember.description"><textarea/>
          <button type="button" class="btn btn-primary" ng-click="admin.addMember(admin.castMember)">Add</button>
      </div>
    </div>
    <hr/>
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="button" class="btn btn-warning" ng-click="admin.resetForm(admin.editedMovie)">Reset Form</button>
    <div ng-if="admin.response" class="alert alert-{{admin.response.type}}">
      <span>{{admin.response.message}}</span>
      <button type="button" class="close" ng-click="admin.response = null"><span aria-hidden="true">&times;</span>
      </button>
    </div>
    <p class="pull-right"><a href ng-click="admin.deleteMovie(admin.movieId)">&times; Delete Movie</a></p>
  </form>
</div>