<div class="col-lg-10 col-xs-12 col-lg-offset-1 well pull-left">
  <div class="form-group">
    <label for="trailers">Trailers</label>

    <div>
      <div ng-repeat="(index, trailer) in admin.editedMovie.trailers" class="col-sm-4 col-md-3">
        <div class="thumbnail">
          <a href ng-click="admin.removeTrailer(index)"><span>&times;</span></a>
          <iframe ng-if="admin.showAssets" src="{{trailer.src}}" width="100%" frameborder="0"></iframe>
          <input class="form-control" type="text" ng-model="trailer.src"/>
        </div>
      </div>
    </div>
    <div class="input-group">
      <input class="form-control" name="trailers" type="text" ng-model="admin.newTrailer.src"
             placeholder="Trailer URL"/>
      <span class="input-group-addon btn btn-primary" ng-click="admin.addTrailer(admin.newTrailer)">Add</span>
    </div>
  </div>
</div>