<div class="col-lg-9 col-xs-12 col-lg-offset-2 well pull-left admin-content">
  <div class="form-group">
    <label for="trailers">Trailers</label>

    <div>
      <div ng-repeat="(index, trailer) in admin.editedMovie.trailers" class="col-sm-3 col-md-4">
        <div class="thumbnail">
          <a href ng-click="admin.removeTrailer(index)" class="pull-right"><span class="fa fa-trash-o"></span></a>
          <iframe ng-if="admin.showAssets" src="{{trailer.src}}" width="100%" frameborder="0"></iframe>
          <input class="form-control" type="text" ng-model="trailer.src"/>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-3 unit">
      <div class="input-group">
        <input class="form-control" name="trailers" type="text" ng-model="admin.newTrailer.src"
               placeholder="Trailer URL"/>
        <span class="input-group-addon btn btn-primary" ng-click="admin.addTrailer(admin.newTrailer)">Add</span>
      </div>
    </div>
  </div>

  <div class="form-group col-xs-12">
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="button" class="btn btn-warning" ng-click="admin.resetForm(admin.editedMovie)">Reset Form</button>
    <div ng-if="admin.response" class="alert alert-{{admin.response.type}}">
      <span>{{admin.response.message}}</span>
      <button type="button" class="close" ng-click="admin.response = null"><span aria-hidden="true">&times;</span></button>
    </div>
  </div>
</div>