[id*="movie-admin"] #wrapper {
  position: static; }

#movie-admin .well {
  display: none; }

html {
  background: url(../images/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  html body {
    font-family: 'Black Ops One', Helvetica, Arial, 'sans-serif';
    font-size: 2.5em;
    color: #fff;
    background: transparent; }
    html body label, html body .btn, html body th {
      letter-spacing: 1px;
      font-weight: 100; }
    html body small {
      color: #fff !important; }
    html body a {
      text-decoration: none;
      color: #fff; }
      html body a:hover {
        text-decoration: none;
        color: #ffcc66; }
      html body a.active {
        color: #ffcc66; }
    html body .nav {
      float: none;
      margin: 0 auto; }
      html body .nav li {
        float: none;
        display: inline-block; }
        html body .nav li a {
          color: #000;
          letter-spacing: 1px;
          background-color: transparent; }
          html body .nav li a:hover, html body .nav li a:focus {
            background-color: transparent; }
      html body .nav .back-button {
        border-top: 50px solid black;
        border-right: 50px solid transparent;
        border-left: 50px solid transparent; }
        html body .nav .back-button a {
          color: #fff;
          position: relative;
          top: -50px;
          background: transparent;
          -webkit-transition: all 0.5s cubic-bezier(0.25, 1, 0.25, 1);
          -moz-transition: all 0.5s cubic-bezier(0.25, 1, 0.25, 1);
          -ms-transition: all 0.5s cubic-bezier(0.25, 1, 0.25, 1);
          -o-transition: all 0.5s cubic-bezier(0.25, 1, 0.25, 1);
          transition: all 0.5s cubic-bezier(0.25, 1, 0.25, 1); }
          html body .nav .back-button a:hover {
            background: transparent;
            color: #ffcc66; }
    html body #wrapper {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      min-width: 1280px;
      min-height: 720px;
      overflow: hidden;
      opacity: 1; }
      html body #wrapper .admin-portal {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 1; }
        html body #wrapper .admin-portal:not(.ng-animate) {
          transform: none !important; }
        html body #wrapper .admin-portal .admin-content {
          margin-top: 8%; }
      html body #wrapper .main-content {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; }
        html body #wrapper .main-content .movie-details {
          position: absolute;
          width: 400px;
          left: 10px;
          bottom: 130px;
          text-align: center; }
          html body #wrapper .main-content .movie-details h1 {
            font-size: 200%; }
            html body #wrapper .main-content .movie-details h1 .big {
              width: 100%;
              display: block;
              line-height: 80%; }
          html body #wrapper .main-content .movie-details .byline {
            font-family: "Helvetica";
            margin-top: 1%;
            margin-bottom: 1%;
            font-size: 20%; }
          html body #wrapper .main-content .movie-details .date {
            font-size: 35%; }
        html body #wrapper .main-content .spacer {
          height: 300px; }
        html body #wrapper .main-content .about {
          background: transparent url(../images/about-container.png) no-repeat top left;
          position: absolute;
          width: 710px;
          height: 235px;
          right: 20px;
          bottom: 50px;
          margin: 0; }
          html body #wrapper .main-content .about h3 {
            position: absolute;
            top: 20px;
            left: 40px;
            margin: 0; }
          html body #wrapper .main-content .about .content {
            position: absolute;
            top: 50px;
            left: 40px;
            width: 650px;
            margin: 0;
            max-height: 150px;
            padding: 0;
            font-family: sans-serif;
            font-size: 11px;
            font-weight: 100;
            overflow-y: scroll; }
        html body #wrapper .main-content .background {
          width: 100%;
          height: 10000px;
          position: fixed;
          left: 0;
          background: black;
          z-index: 0; }
        html body #wrapper .main-content .trailers {
          background-color: #000000;
          padding: 0; }
          html body #wrapper .main-content .trailers .back-button {
            border: none !important;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 1; }
            html body #wrapper .main-content .trailers .back-button a {
              position: static; }
          html body #wrapper .main-content .trailers ul li a:hover {
            background-color: black !important;
            color: #ffcc66 !important; }
          html body #wrapper .main-content .trailers iframe {
            display: block;
            margin: 0 auto;
            z-index: 10;
            position: absolute; }
          html body #wrapper .main-content .trailers .arrow {
            position: absolute;
            z-index: 1; }
            html body #wrapper .main-content .trailers .arrow.pull-right {
              right: 0; }
        html body #wrapper .main-content .cast {
          background: transparent url(../images/cast-container.png) no-repeat top left;
          position: absolute;
          width: 900px;
          height: 235px;
          right: 20px;
          bottom: 50px;
          margin: 0; }
          html body #wrapper .main-content .cast .cast-animate {
            width: 700px;
            float: left; }
          html body #wrapper .main-content .cast h4 {
            position: absolute;
            top: 20px;
            left: 230px;
            margin: 0; }
          html body #wrapper .main-content .cast ul {
            position: absolute;
            top: 45px;
            left: 30px;
            margin: 0;
            padding: 0;
            font-size: 54%;
            list-style: none; }
          html body #wrapper .main-content .cast .content {
            position: absolute;
            top: 50px;
            left: 230px;
            width: 650px;
            margin: 0;
            max-height: 150px;
            padding: 0;
            font-family: sans-serif;
            font-size: 11px;
            font-weight: 100;
            overflow-y: scroll; }
        html body #wrapper .main-content #gallery .gallery-wrapper {
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          margin: 0;
          padding: 0;
          background-color: #000; }
          html body #wrapper .main-content #gallery .gallery-wrapper .galleryimage {
            position: absolute;
            width: 100%; }
        html body #wrapper .main-content #gallery .back-button {
          position: relative;
          top: 0;
          left: -65px; }
        html body #wrapper .main-content #gallery .gallery {
          display: block;
          background: transparent url(../images/gallery-container.png) no-repeat top left;
          position: absolute;
          width: 800px;
          height: 105px;
          right: 20px;
          bottom: 130px;
          margin: 0; }
          html body #wrapper .main-content #gallery .gallery .miniarrow {
            display: block;
            position: absolute;
            width: 20px;
            height: 20px;
            -webkit-transition: left 0.5s cubic-bezier(0.25, 1, 0.25, 1);
            -moz-transition: left 0.5s cubic-bezier(0.25, 1, 0.25, 1);
            -ms-transition: left 0.5s cubic-bezier(0.25, 1, 0.25, 1);
            -o-transition: left 0.5s cubic-bezier(0.25, 1, 0.25, 1);
            transition: left 0.5s cubic-bezier(0.25, 1, 0.25, 1); }
          html body #wrapper .main-content #gallery .gallery .miniarrow-left {
            position: absolute;
            top: 40px;
            left: 40px;
            width: 20px;
            height: 20px; }
            html body #wrapper .main-content #gallery .gallery .miniarrow-left .miniarrow {
              top: 0;
              left: 0;
              background: transparent url(../images/miniarrow-left.png) no-repeat top left;
              -webkit-transition: left 0.5s cubic-bezier(0.25, 1, 0.25, 1);
              -moz-transition: left 0.5s cubic-bezier(0.25, 1, 0.25, 1);
              -ms-transition: left 0.5s cubic-bezier(0.25, 1, 0.25, 1);
              -o-transition: left 0.5s cubic-bezier(0.25, 1, 0.25, 1);
              transition: left 0.5s cubic-bezier(0.25, 1, 0.25, 1); }
            html body #wrapper .main-content #gallery .gallery .miniarrow-left:hover .miniarrow {
              background-position: top right;
              left: -5px; }
          html body #wrapper .main-content #gallery .gallery .miniarrow-right {
            position: absolute;
            top: 40px;
            right: 20px;
            width: 20px;
            height: 20px; }
            html body #wrapper .main-content #gallery .gallery .miniarrow-right .mini-arrow {
              right: 0;
              top: 0;
              background: transparent url(../images/miniarrow-right.png) no-repeat top left;
              -webkit-transition: right 0.5s cubic-bezier(0.25, 1, 0.25, 1);
              -moz-transition: right 0.5s cubic-bezier(0.25, 1, 0.25, 1);
              -ms-transition: right 0.5s cubic-bezier(0.25, 1, 0.25, 1);
              -o-transition: right 0.5s cubic-bezier(0.25, 1, 0.25, 1);
              transition: right 0.5s cubic-bezier(0.25, 1, 0.25, 1); }
            html body #wrapper .main-content #gallery .gallery .miniarrow-right:hover .miniarrow {
              background-position: top right;
              right: -5px; }
          html body #wrapper .main-content #gallery .gallery ul {
            position: absolute;
            left: 65px;
            top: 10px;
            margin: 0;
            padding: 0; }
            html body #wrapper .main-content #gallery .gallery ul li {
              display: inline-block; }
              html body #wrapper .main-content #gallery .gallery ul li img {
                border: 1px solid rgba(255, 255, 255, 0.2);
                margin: 0px 10px 0px 0px; }
                html body #wrapper .main-content #gallery .gallery ul li img:hover {
                  cursor: pointer; }
        html body #wrapper .main-content #gallery .arrow {
          display: block;
          position: absolute;
          width: 25px;
          height: 25px; }
        html body #wrapper .main-content #gallery .arrow-right {
          display: block;
          position: absolute;
          width: 50px;
          height: 105px;
          right: 0;
          top: 45%;
          background: transparent url(../images/bg-galleryright.png) no-repeat top left; }
          html body #wrapper .main-content #gallery .arrow-right .arrow {
            top: 25px;
            right: 15px;
            background: transparent url(../images/arrow-right.png) no-repeat top left;
            -webkit-transition: right 0.5s cubic-bezier(0.25, 1, 0.25, 1);
            -moz-transition: right 0.5s cubic-bezier(0.25, 1, 0.25, 1);
            -ms-transition: right 0.5s cubic-bezier(0.25, 1, 0.25, 1);
            -o-transition: right 0.5s cubic-bezier(0.25, 1, 0.25, 1);
            transition: right 0.5s cubic-bezier(0.25, 1, 0.25, 1); }
          html body #wrapper .main-content #gallery .arrow-right:hover .arrow {
            background-position: top right;
            right: 10px; }
        html body #wrapper .main-content #gallery .arrow-left {
          display: block;
          position: absolute;
          width: 50px;
          height: 105px;
          left: 0;
          top: 45%;
          background: transparent url(../images/bg-galleryleft.png) no-repeat top left; }
          html body #wrapper .main-content #gallery .arrow-left .arrow {
            top: 25px;
            left: 15px;
            background: transparent url(../images/arrow-left.png) no-repeat top left;
            -webkit-transition: left 0.5s cubic-bezier(0.25, 1, 0.25, 1);
            -moz-transition: left 0.5s cubic-bezier(0.25, 1, 0.25, 1);
            -ms-transition: left 0.5s cubic-bezier(0.25, 1, 0.25, 1);
            -o-transition: left 0.5s cubic-bezier(0.25, 1, 0.25, 1);
            transition: left 0.5s cubic-bezier(0.25, 1, 0.25, 1); }
          html body #wrapper .main-content #gallery .arrow-left:hover .arrow {
            background-position: top right;
            left: 10px; }
        html body #wrapper .main-content li.admin {
          position: absolute;
          left: 0;
          font-size: 14px; }
          html body #wrapper .main-content li.admin a {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            border-bottom-left-radius: 0; }
        html body #wrapper .main-content:not(.ng-animate) {
          transform: none !important; }
        html body #wrapper .main-content > .nav {
          position: relative;
          z-index: 1; }
        html body #wrapper .main-content .master {
          position: fixed;
          top: 0;
          z-index: 2;
          background: rgba(0, 0, 0, 0.8);
          padding: 30px 20px;
          height: 100%;
          text-align: center; }
          html body #wrapper .main-content .master .nav li {
            display: block;
            margin-bottom: 30px; }
            html body #wrapper .main-content .master .nav li a {
              color: #fff; }
              html body #wrapper .main-content .master .nav li a:hover, html body #wrapper .main-content .master .nav li a.active {
                color: #ffcc66; }
        html body #wrapper .main-content .semi-detail {
          left: 107px;
          background: rgba(0, 0, 0, 0.6);
          max-width: 300px; }
          html body #wrapper .main-content .semi-detail .nav li a {
            font-size: 20px; }
        html body #wrapper .main-content form {
          font-size: 24px; }
          html body #wrapper .main-content form .unit {
            display: inline-block;
            float: none;
            vertical-align: top; }
          html body #wrapper .main-content form .thumbnail a {
            position: absolute;
            right: 20px; }
            html body #wrapper .main-content form .thumbnail a span {
              background-color: #000000;
              padding: 7px;
              border-bottom-left-radius: 2px; }
          html body #wrapper .main-content form textarea {
            width: 100% !important; }
          html body #wrapper .main-content form th {
            font-size: 18px; }
          html body #wrapper .main-content form .cast-form.form-inline .form-control {
            width: 28% !important; }
          html body #wrapper .main-content form .well {
            background-color: rgba(0, 0, 0, 0.5);
            border: none; }
          html body #wrapper .main-content form .alert {
            vertical-align: middle;
            display: inline-block;
            font-size: 14px;
            padding: 6px 12px;
            margin-bottom: 0; }
          html body #wrapper .main-content form iframe {
            min-height: 225px; }
        html body #wrapper .main-content .megatron {
          position: absolute;
          top: 40%;
          left: 0;
          width: 100%;
          text-align: center; }
          html body #wrapper .main-content .megatron h1 {
            font-size: 800%; }
            html body #wrapper .main-content .megatron h1 .big {
              width: 100%;
              display: block;
              line-height: 80%; }
            html body #wrapper .main-content .megatron h1 .byline {
              font-family: "Helvetica";
              font-size: 8%;
              margin-bottom: 0.5%; }
          html body #wrapper .main-content .megatron .date {
            font-size: 15%; }

div {
  display: block; }

/*# sourceMappingURL=main.css.map */
