[id*="movie-admin"] #wrapper {
  position: static;
}
#movie-admin .well {
  display: none;
}

html {
  background: url(../images/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  body {
    font-family: 'Black Ops One', Helvetica, Arial, 'sans-serif';
    font-size: 2.5em;
    color: #fff;
    background: transparent;

    label, .btn, th {
      letter-spacing: 1px;
      font-weight: 100;
  }
    small {
      color: #fff !important;
  }
    a {
      text-decoration: none;
      color: #fff;

      &:hover {
        text-decoration: none;
        color:#ffcc66;
    }
      &.active {
        color:#ffcc66;
    }
  }
    .nav {
      float: none;
      margin: 0 auto;

      li {
        float: none;
        display: inline-block;

        a {
          color: #000;
          letter-spacing: 1px;
          background-color: transparent;

          &:hover, &:focus {
            background-color: transparent;
        }
      }
    }

      .back-button {
        border-top: 50px solid black;
        border-right: 50px solid transparent;
        border-left: 50px solid transparent;

        a {
          color: #fff;
          position: relative;
          top: -50px;
          background: transparent;

          -webkit-transition: all 0.5s cubic-bezier(0.25,1,0.25,1);
          -moz-transition: all 0.5s cubic-bezier(0.25,1,0.25,1);
          -ms-transition: all 0.5s cubic-bezier(0.25,1,0.25,1);
          -o-transition: all 0.5s cubic-bezier(0.25,1,0.25,1);
          transition: all 0.5s cubic-bezier(0.25,1,0.25,1);

          &:hover {
            background: transparent;
            color: #ffcc66;
        }
      }
    }
  }

    #wrapper {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      min-width: 1280px;
      min-height: 720px;
      overflow: hidden;
      opacity: 1;

      .admin-portal {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 1;

        &:not(.ng-animate) {
          transform:none !important;
      }

        .admin-content {
          margin-top: 8%;
      }
    }

      .main-content {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        .movie-details {
          position: absolute;
          width: 400px;
          left: 10px;
          bottom: 130px;
          text-align: center;

          h1 {
            font-size: 200%;

            .big {
              width: 100%;
              display: block;
              line-height: 80%;
          }
        }

          .byline {
            font-family: "Helvetica";
            margin-top: 1%;
            margin-bottom: 1%;
            font-size: 20%;
        }

          .date {
            font-size: 35%;
        }
      }

        .spacer {
          height: 300px;
      }

        .about {
          background: transparent url(../images/about-container.png) no-repeat top left;
          position: absolute;
          width: 710px;
          height: 235px;
          right: 20px;
          bottom: 50px;
          margin: 0;

          h3 {
            position: absolute;
            top: 20px;
            left: 40px;
            margin: 0;
        }

          .content {
            position: absolute;
            top: 50px;
            left: 40px;
            width: 650px;
            margin: 0;
            max-height: 150px;
            padding: 0;

            font-family: sans-serif;
            font-size: 11px;
            font-weight: 100;

            overflow-y: scroll;
        }
      }

        .background {
          width: 100%;
          height: 10000px;
          position: fixed;
          left: 0;
          background: black;
          z-index: 0;
      }

        .trailers {
          background-color: #000000;
          padding: 0;

          .back-button {
            border: none !important;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 1;

            a {
              position: static;
          }
        }

          ul {
            li {
              a {
                &:hover {
                  background-color: black !important;
                  color: #ffcc66 !important;
              }
            }
          }
        }

          iframe {
            display: block;
            margin: 0 auto;
            z-index: 10;
            position: absolute;
        }

          .arrow {
            position: absolute;
            z-index: 1;

            &.pull-right {
              right: 0;
          }
        }
      }

        .cast {
          background: transparent url(../images/cast-container.png) no-repeat top left;
          position: absolute;
          width: 900px;
          height: 235px;
          right: 20px;
          bottom: 50px;
          margin: 0;

          .cast-animate {
            width: 700px;
            float: left;
        }

          h4 {
            position: absolute;
            top: 20px;
            left: 230px;
            margin: 0;
        }

          ul {
            position: absolute;
            top: 45px;
            left: 30px;
            margin: 0;
            padding: 0;
            font-size: 54%;
            list-style: none;
        }

          .content {
            position: absolute;
            top: 50px;
            left: 230px;
            width: 650px;
            margin: 0;
            max-height: 150px;
            padding: 0;

            font-family: sans-serif;
            font-size: 11px;
            font-weight: 100;

            overflow-y: scroll;
        }
      }

        #gallery {
          .gallery-wrapper {
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            background-color: #000;

            .galleryimage {
              position: absolute;
              width: 100%;
          }
        }

          .back-button {
            position: relative;
            top: 0;
            left: -65px;
        }

          .gallery {
            display: block;
            background: transparent url(../images/gallery-container.png) no-repeat top left;
            position: absolute;
            width: 800px;
            height: 105px;
            right: 20px;
            bottom: 130px;
            margin: 0;

            .miniarrow {
              display: block;
              position: absolute;
              width: 20px;
              height: 20px;

              -webkit-transition: left 0.5s cubic-bezier(0.25,1,0.25,1);
              -moz-transition: left 0.5s cubic-bezier(0.25,1,0.25,1);
              -ms-transition: left 0.5s cubic-bezier(0.25,1,0.25,1);
              -o-transition: left 0.5s cubic-bezier(0.25,1,0.25,1);
              transition: left 0.5s cubic-bezier(0.25,1,0.25,1);
          }

            .miniarrow-left {
              position: absolute;
              top: 40px;
              left: 40px;
              width: 20px;
              height: 20px;

              .miniarrow {
                top: 0;
                left: 0;
                background: transparent url(../images/miniarrow-left.png) no-repeat top left;

                -webkit-transition: left 0.5s cubic-bezier(0.25,1,0.25,1);
                -moz-transition: left 0.5s cubic-bezier(0.25,1,0.25,1);
                -ms-transition: left 0.5s cubic-bezier(0.25,1,0.25,1);
                -o-transition: left 0.5s cubic-bezier(0.25,1,0.25,1);
                transition: left 0.5s cubic-bezier(0.25,1,0.25,1);
            }

              &:hover {
                .miniarrow {
                  background-position: top right;
                  left: -5px;
              }
            }
          }

            .miniarrow-right {
              position: absolute;
              top: 40px;
              right: 20px;
              width: 20px;
              height: 20px;

              .mini-arrow {
                right: 0;
                top: 0;
                background: transparent url(../images/miniarrow-right.png) no-repeat top left;

                -webkit-transition: right 0.5s cubic-bezier(0.25,1,0.25,1);
                -moz-transition: right 0.5s cubic-bezier(0.25,1,0.25,1);
                -ms-transition: right 0.5s cubic-bezier(0.25,1,0.25,1);
                -o-transition: right 0.5s cubic-bezier(0.25,1,0.25,1);
                transition: right 0.5s cubic-bezier(0.25,1,0.25,1);
            }

              &:hover {
                .miniarrow {
                  background-position: top right;
                  right: -5px;
              }
            }
          }

            ul {
              position: absolute;
              left: 65px;
              top: 10px;
              margin: 0;
              padding: 0;

              li {
                display: inline-block;

                img {
                  border: 1px solid rgba(255,255,255,0.2);
                  margin: 0px 10px 0px 0px;

                  &:hover {
                    cursor: pointer;
                }
              }
            }
          }
        }

          .arrow {
            display: block;
            position: absolute;
            width: 25px;
            height: 25px;
        }

          .arrow-right {
            display: block;
            position: absolute;
            width: 50px;
            height: 105px;
            right: 0;
            top: 45%;
            background: transparent url(../images/bg-galleryright.png) no-repeat top left;

            .arrow {
              top: 25px;
              right: 15px;
              background: transparent url(../images/arrow-right.png) no-repeat top left;

              -webkit-transition: right 0.5s cubic-bezier(0.25,1,0.25,1);
              -moz-transition: right 0.5s cubic-bezier(0.25,1,0.25,1);
              -ms-transition: right 0.5s cubic-bezier(0.25,1,0.25,1);
              -o-transition: right 0.5s cubic-bezier(0.25,1,0.25,1);
              transition: right 0.5s cubic-bezier(0.25,1,0.25,1);
          }

            &:hover {
              .arrow {
                background-position: top right;
                right: 10px;
            }
          }
        }

          .arrow-left {
            display: block;
            position: absolute;
            width: 50px;
            height: 105px;
            left: 0;
            top: 45%;
            background: transparent url(../images/bg-galleryleft.png) no-repeat top left;

            .arrow {
              top: 25px;
              left: 15px;
              background: transparent url(../images/arrow-left.png) no-repeat top left;

              -webkit-transition: left 0.5s cubic-bezier(0.25,1,0.25,1);
              -moz-transition: left 0.5s cubic-bezier(0.25,1,0.25,1);
              -ms-transition: left 0.5s cubic-bezier(0.25,1,0.25,1);
              -o-transition: left 0.5s cubic-bezier(0.25,1,0.25,1);
              transition: left 0.5s cubic-bezier(0.25,1,0.25,1);
          }

            &:hover {
              .arrow {
                background-position: top right;
                left: 10px;
            }
          }
        }
      }

        li.admin {
          position: absolute;
          left: 0;
          font-size: 14px;

          a {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            border-bottom-left-radius: 0;
        }
      }

        &:not(.ng-animate) {
          transform:none !important;
      }

        > .nav {
          position: relative;
          z-index: 1;
      }

        .master {
          position: fixed;
          top: 0;
          z-index: 2;
          background: rgba(0,0,0,0.8);
          padding: 30px 20px;
          height: 100%;
          text-align: center;

          .nav {
            li {
              display: block;
              margin-bottom: 30px;

              a {
                color: #fff;

                &:hover, &.active {
                  color: #ffcc66;
              }
            }
          }
        }
      }

        .semi-detail {
          left: 107px;
          background: rgba(0,0,0,0.6);
          max-width: 300px;

          .nav {
            li {
              a {
                font-size: 20px;
            }
          }
        }
      }

        form {
          font-size: 24px;

          .unit {
            display: inline-block;
            float: none;
            vertical-align: top;
        }

          .thumbnail {
            a {
              position: absolute;
              right: 20px;

              span {
                background-color: #000000;
                padding: 7px;
                border-bottom-left-radius: 2px;
            }
          }
        }

          textarea {
            width: 100% !important;
        }

          th {
            font-size: 18px;
        }

          .cast-form.form-inline {
            .form-control {
              width: 28% !important;
          }
        }

          .well {
            background-color: rgba(0,0,0,0.5);
            border: none;
        }

          .alert {
            vertical-align: middle;
            display: inline-block;
            font-size: 14px;
            padding: 6px 12px;
            margin-bottom: 0;
        }

          iframe {
            min-height: 225px;
        }
      }

        .megatron {
          position: absolute;
          top: 40%;
          left: 0;
          width: 100%;
          text-align: center;

          h1 {
            font-size: 800%;

            .big {
              width: 100%;
              display: block;
              line-height: 80%;
          }

            .byline {
              font-family: "Helvetica";
              font-size: 8%;
              margin-bottom: 0.5%;
          }
        }

          .date {
            font-size: 15%;
        }
      }
    }
  }
}
}

div {
  display: block;
}