<div id="cast">
  <div class="cast-bg"></div>
  <div class="container-fluid">
    <ul class="text-center nav">
      <li class="back-button"><a href ="index.html">BACK</a></li>
    </ul>
  </div>

  <div class="billboard" billboard></div>

  <div class="content">
    <ul>
      <li ng-repeat="(index, member) in app.movie.cast"><a href ng-class="{active: app.currentCast == index}" ng-click="app.currentCast = index">{{member.name | uppercase}}</a></li>
    </ul>
    <div ng-if="app.currentCast == index" ng-repeat="(index, member) in app.movie.cast">
      <h4>{{member.name | uppercase}}
        <small>as {{member.character | uppercase}}</small>
      </h4>
      <div ng-bind-html="app.renderHtml(member.description)" class="copy"></div>
    </div>
  </div>
</div>