<div id="gallery">
	<div class="gallery-wrapper">
		<img class="galleryimage image-animation"
		     ng-if="galleryVM.isCurrentSlideIndex($index)"
		     ng-repeat="image in galleryVM.images" ng-src="{{image.src}}">
	</div>

	<!-- WHY NOT MAKE THIS A DIRECTIVE!?!?! -->
	<div class="container-fluid">
		<ul class="nav">
			<li class="back-button btn-left"><a href ui-sref="Movie.home">BACK</a></li>
		</ul>
	</div>

	<billboard class="billboard" movie="galleryVM.movie"></billboard>

	<div class="gallery">
		<div class="slider-wrapper">
			<ul class="slider">
				<li class="slider-image" ng-repeat="thumb in galleryVM.images">
					<img
						ng-class="{'active':galleryVM.isCurrentSlideIndex($index)}"
						ng-click="galleryVM.setCurrentSlideIndex($index)"
						ng-src="{{thumb.src}}">
				</li>
			</ul>
		</div>
	</div>

	<a href ng-click="galleryVM.prevSlide()" class="arrow-left">
		<div class="arrow"></div>
	</a>

	<a href ng-click="galleryVM.nextSlide()" class="arrow-right">
		<div class="arrow"></div>
	</a>
</div>
